# Custom folders/files
data/*.jpg
data/*.pdf
data/*.bmp
data/*.docx
results/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__
data/digit_template/old_0.jpg
data/digit_template/old_2.jpg
data/digit_template/old_3.jpg
data/digit_template/old_4.jpg
data/digit_template/old_8.jpg
